*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:focus{
    outline: 0;
}
html{
    font-size: 10px;
    scroll-behavior: smooth;
   
}
body{
    font-family: 'Titillium Web', sans-serif;
    text-rendering: optimizeLegibility;
    line-height: 1.3;
}
ul li{
    list-style: none;
}
h1{
    font-size: 4.2rem;
    color: #fff;
}
h2{
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 2rem;
    color: #fff;
    text-align: center;
}
h2::after{
    content: "";
    display: block;
    height: .4rem;
    width: 8.5rem;
    background: #fff;
    margin: auto;
    margin-top: 2rem;
}

h3{
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
}
h4{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 2.5rem;
}
.box {
    padding: 1%;
}
.box p{
    font-size: 1.6rem;
    font-weight: 300;
    margin-top: 2rem;
    color: #fff;
}

.row{
    max-width: 114rem;
    margin: 0 auto;
}

section{
    padding: 8rem 0;   
}

.btn:link,
.btn:visited,
.btn{
    margin-top: 3.5rem;
    background: #333;
    border-bottom: .3rem solid #000;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 6rem;
    border-radius: .3rem;
    display: inline-block;
    font-size: 1.6rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
}

.little-description{
    font-size: 1.8rem;
    width: 60%;
    margin-left: 20%;
    line-height: 3rem;
}
header{
    background:-webkit-gradient( linear, left top, left bottom, from(rgba(135,80,156,0.8)), to(#87509c)),url('../images/startup-594091_1920.jpg');
  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 95vh;
    position: relative;
}
.logo{
    height: 3.5rem;
    width: auto;
    margin-top: 3.5rem;
    float: left;
}
.main-nav{
    float:right;
    margin-top: 4rem;
}
.main-nav li{
    display: inline-block;  
    margin-left: 1rem;
}
.main-nav li:first-child{
    margin-left: 0;
}
.main-nav li a:link,
.main-nav li a:visited{
    color: #fff;
    text-decoration: none;
    text-transform:capitalize;
    background: rgba(100,58,121,0);
    padding: .6rem 1.6rem;
    border-radius: .5rem;
    display: inline-block;
    font-size: 1.6rem;
    -webkit-transition: .3s;
    transition: .3s;
}
.main-nav li:hover a:link,
.main-nav li:hover a:visited{
    background: rgba(100,58,121,1);
}


.main-nav li.active a{
    background: rgba(100,58,121,1);
}
.sticky{
    position: fixed;
    top: -20px;
    left: 0;
    width: 100%;
    background: rgba(135,80,156,0.9);
    padding: 1rem 0;
    z-index: 999;
}
.sticky .logo{
    margin-top: 1.3rem;
}
.sticky .main-nav{
    margin-top: 1.7rem;
}
.mobile-menu span{
    color:#fff;
    font-size: 4rem;
    
    display: none;
}
.mobile-menu span:hover{
    cursor: pointer;
}
.overlay{
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.9);
    z-index: 1;
    overflow-x: hidden;
    -webkit-transition: .5;
    transition: .5;
}
.overlay-content{
    position: relative;
    top: 10%;
    width: 100%;
    margin-top: 3rem;
    text-align: center;
}
.overlay-content a{
    text-decoration: none;
    display: block;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    color: #999;
    padding: 1rem 0;
}
.overlay a:hover{
    color: white;
}
.closeBtn{
    position: absolute;
    top: 2rem;
    right: 4.5rem;
    font-size: 6rem;   
    color: #fff;
}
.sticky .mobile-menu span{
    width: 0;
}

.hero-text-box{
            position: absolute;
            top: 60%;
            left: 50%;
            -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            text-align: center;
            -moz-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            -o-transform: translate(-50%,-50%);
}
.btn-hero:link,
.btn-hero:visited{
    background: #eb7d4b;
    border-color: #c86a40;
}
.btn-hero:hover{
    background: #17c2a4;
    border-bottom:.2rem solid #2993c5;;
}

.services-section{
    color: #fff;
    text-align: center;
    background: #17c2a4;
    height: 95vh;
}
.services-section h2::after{
    background: #14a58c;
}
.services-icon{
    height: 12rem;
    margin-top: 4.5rem;
    margin-bottom: 3.5rem;
}
.services-section{
    color: #fff;
    text-align: center;
    background: -webkit-gradient(linear,left top, left bottom,from(rgba(23,194,164,.9)),to(rgba(23,194,164,.9))), url(../images/workplace-1245776_1920.jpg);
    background: linear-gradient(rgba(23,194,164,.9),rgba(23,194,164,.9)), url(../images/workplace-1245776_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}
.team-section{
    background:-webkit-gradient(linear,left top, left bottom,from(rgba(231,241,248,.9)),to(rgba(231,241,248,.9))),url(../images/cafe-768771_1920.jpg);
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
    background-attachment: fixed;
}
.team-section h2{
    color: #3c4761;
}
.team-section h2::after{
    background: #c8d9e5;
}
.team-member{
    margin-top: 4.5rem;
    margin-bottom: 3.5rem;
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
}
.team-section h3{
    color: #27283d;
}
.role{
    color: #30bae7;
    font-size: 1.6rem;
    text-transform: capitalize;
    margin-top: .5rem;
    display: inline-block;
}
.team-section p{
    color: #3c4761;
}
.social-link{
    margin-top: 4.5rem;
}
.social-link ul li{
    display: inline-block;
    margin: 0 .5rem;
}
.social-link ul li a i{
    color: #fff;
}
.social-link ul li a:link i::before{
    background: #bdd1df;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: inline-block;
    font-size: 2rem;
    padding: 1rem;
    -webkit-transition: .5s;
    transition: .5s;
   
}
.social-link ul li a:hover i::before{
    background: #393939;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
}

.skill-section{
    background: -webkit-gradient(linear,left top, left bottom,from(rgba(255,255,255,0.9)),to(rgba(255,255,2555,0.9))),url(../images/you\ 1.jpg);    
    background-repeat: no-repeat;
    background-size: cover; 
    text-align: center;
}
.skill-section h2,
.skill-section h3{
    color: #3c4761;
}
.skill-section h2::after{
    background: #dfe8ed;
}
.skill-section .box{
    margin-top: 4.5rem;
}
svg.radial-progress circle{
    stroke-width: 5;
}
svg.radial-progress text{
    fill: #3c4461;
    font-size: 1.5rem;
}
svg.web-design circle{
    stroke: #30bae7;
}
svg.html-design circle{
    stroke: #d74680;
}
svg.graphic-design circle{
    stroke: #15c7a8;
}
svg.ui-design circle{
    stroke: #eb7d4b;
}

.portfolio-section{
    background:-webkit-gradient(linear,left top, left bottom,from(rgba(255,221,153,0.9)),to(rgba(255,221,153,.9))) ,url(../images/leaf.jpg);
    background:linear-gradient(rgba(255,221,153,0.9),rgba(255,221,153,.9)) ,url(../images/leaf.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    text-align: center;
}
.portfolio-section h2{
    color: #3c4461;
}
.portfolio-section h2::after{
    background: #e5c37f;
}
.portfolio-filter{
    margin: 4.5rem 0;
}
.portfolio-filter button{
    background: #ebc985;
    font-size: 1.8rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: .5rem;
    text-transform: uppercase;
    color: #3c4761;
    margin: 0 .5rem;
    -webkit-transition: .5s;
    transition: .5s;
}
.portfolio-filter button:hover{
    cursor: pointer;
    box-shadow:inset  0 .3rem .5rem rgba(60,71,97,0.5);
}
.portfolio-image{
    width: 100%;
    height: 30rem;
}
.portfolio-section .col:nth-child(3){
    margin-left: 0;
}
.portfolio-section .btn-load-more{
    background: #17c2a4;
    border-color: #14a58c;
}

.portfolio-section .mixitup-control-active{
    background: #fff;
}
.testimonial-section{
    background:-webkit-gradient(linear,left top, left bottom,from(rgba(215,70,128,0.9)),to(rgba(215,70,126,0.9))), url(../images/you.jpg);
    background:linear-gradient(rgba(215,70,128,0.9),rgba(215,70,126,0.9)), url(../images/entrepreneur.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
}
.testimonial-section .little-description{
    text-align: center;
    color: #fff;
}
.testimonial-section .col:nth-child(3){
    margin-left: 0;
}
.testimonial-section .col:nth-child(1),
.testimonial-section .col:nth-child(2){
    margin-top: 4rem;
}
.testimonial-section .col:nth-child(3),
.testimonial-section .col:nth-child(4){
    margin-top: 8rem;
    
}
.hero-text-box{
    width: 114rem;
}

.client-photo{
    width: 10rem;
    float: left;

}
.client-photo img{
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    margin-bottom: 3rem;
}
.client-review{
    width: 35rem;
    float: left;
}
.client-review p{
    font-size: 2.1rem;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 2rem;
}
.client-review .role{
    color: #ffdd99;
}
.contact-section{
    background: -webkit-gradient(linear,left top, left bottom,from(rgba(60,84,153,0.9)),to(rgba(60,84,153,.95))),url(../images/startup-594091_1920.jpg);
    background: linear-gradient(rgba(60,84,153,0.9),rgba(60,84,153,.95)),url(../images/meeting.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
    text-align: center;
    height: 85rem;
   
}
.contact-section h2::after{
    background: #273a71;
}
.contact-section .little-description{
    color: #fff;
}
.contact-section form{
    width: 70%;
    margin: 15rem;
}

.contact-section input[type="text"],
.contact-section input[type="email"],
.contact-section textarea{
    background: #273a71;
    border: .1rem solid #273a71;
    width: 100%;
    padding: 1.5rem;
    border-radius: .5rem;
    font-size: 1.8rem;
    color: #fff;
    margin: .5rem 0;
}
.contact-section form input::-webkit-input-placeholder{
    color: #fff;
    opacity: 10;
}
.contact-section form input::-moz-placeholder{
    color: #fff;
    opacity: 10;
}
.contact-section form input:-ms-input-placeholder{
    color: #fff;
    opacity: 10;
}
.contact-section form input::-ms-input-placeholder{
    color: #fff;
    opacity: 10;
}
.contact-section form input::placeholder{
    color: #fff;
    opacity: 10;
}
.contact-section textarea{
    height: 20rem;
    font-family: 'Titillium Web', sans-serif;
}
.spc{
    margin-top: 5rem;
}
.btn-submit{
    border: 0;
    border-bottom: .3rem solid #2993c5;
    background: #30bae7;
}
.btn-submit:hover{
    cursor: pointer;
}
.footer-section{
    background: #344b83;
    padding: 3rem 0;
    text-align: center;
    border-top: .1rem solid rgba(255,255,255,0.3);

}
.footer-section li{
    display: inline-block;
    margin: 0 2rem;
}
.footer-section li a{
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 24px;
}
.footer-section li:hover a{
    color: #30bae7;
}


